[MASTER]

# Add <file or directory> to the black list. It should be a base name, not a
# path. You may set this option multiple times.
ignore=migrations,tests
load-plugins=pylint_django

[MESSAGES CONTROL]
disable=R1705
