/* .pac-container,
.pac-item {
    position: absolute;
} */
.pac-container {
    /* z-index: 10000 !important; */
    /* width: auto !important; */
    /* width: inherit !important; */
    /* position: fixed !important; */
    height: auto !important;
    position: sticky;
    /* left: 0 !important;
    right: 0 !important;*/
    color: red;
    /* display: block !important; */
}

.pac-item {
    height: auto !important;
}
